<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <a class="navbar-brand mb-0 h1" style="cursor:default"><b>Cinego</b></a>
  <ul class="navbar-nav mr-auto" *ngIf="isAuth"><!-- *ngIf="isAuth"-->
    <li class="nav-item">
      <a class="nav-link" routerLink="films" routerLinkActive="active">Films à l'affiche </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onCinema()">Nos Cinémas </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
      <a routerLink="auth/signup" class="nav-link">Créer un compte</a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
      <a class="nav-link" routerLink="auth/login">Se connecter</a>
    </li>
    <li *ngIf="isAuth" class="nav-item" routerLinkActive="active">
      <a class="nav-link" (click)="onLogout()" style="cursor:pointer">Se déconnecter</a>
    </li>
  </ul>
</nav>