.card {
    max-width: 60%;
    text-align: center;
}
.col {
    text-align: center;
}

.siegeImg {
    cursor: pointer;
    max-width: 5%;
}

.reserve {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}