<div class="card">
  <div class="card-header">
    <h4>Votre commande</h4>
  </div>
  <div class="card-body">
      <div class="row justify-content-center w-100">
        <div class="col col-md-4 col-sm-12" style="text-align: right;"><h5>Place(s) réservée(s) : </h5></div>        
        <div class="col col-md-4 col-sm-12" style="text-align: left;"> {{ sieges.length }} </div>
      </div>
      <div class="row justify-content-center w-100">
        <div class="col col-md-4 col-sm-12" style="text-align: right;"><h5>Prix par place       : </h5></div>        
        <div class="col col-md-4 col-sm-12" style="text-align: left;"> {{ prixPlace }} € </div>
      </div>
      <div class="row justify-content-center w-100">
        <div class="col col-md-4 col-sm-12" style="text-align: right;"><h5>Majoration réservation :  </h5></div>        
        <div class="col col-md-4 col-sm-12" style="text-align: left;"> {{ majoration }} € </div>
      </div>
      <div class="row justify-content-center w-100">
        <div class="col col-md-4 col-sm-12" style="text-align: right;"><h4>Total :  </h4></div>        
        <div class="col col-md-4 col-sm-12" style="text-align: left;"> {{ majoration + sieges.length * 10 }} € </div>
      </div>
      <button class="btn btn-success" (click)="onPayer()">Règler la commande</button>
    </div>
  </div>