<div class="card mb-2">
    <div class="card-header">
      <h4>
        <span>{{ cinema.nomCinema }} >> </span>{{ film.nom }} >> Séances</h4>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <ngb-accordion [closeOthers]="true">
            <ngb-panel [id]="'static-'+i" *ngFor="let seance of seances; let i = index">
              <ng-template ngbPanelTitle>
                <span>&#9733; A <b>{{ seance.date | date: 'hh:mm' }}</b> le <b>{{ seance.date | date: 'dd MMMM yyyy' }}</b> &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <app-siege-select-form [seance]="seance"></app-siege-select-form>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
      </div>
    </div>
</div>
