<div class="row justify-content-center w-100">
  <div class="col col-md-4 col-sm-12">
    <h2 class="titre">Quel cinema ? </h2>
    <form [formGroup]="cinemaSelectForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <select class="custom-select mt-2" formControlName="cinema" id="cinema" ngbAutofocus>
          <option [ngValue]="null">Selectionner votre cinéma...</option>
          <option *ngFor="let cinema of cinemas" [ngValue]="cinema">
            {{ cinema.nomCinema }}
          </option>
        </select>
      </div>
      <p class="text-danger">{{ errorMessage }}</p>
      <button class="btn btn-success mt-2" type="submit" [disabled]="cinemaSelectForm.invalid">Voir les films à l'affiche</button>
    </form>
  </div>
</div>