<div class="modal-header" style="background-color: #f8f9fa;">
  <h4 class="modal-title">Choisissez votre cinema</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="cinemaSelectForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <select class="custom-select" formControlName="cinema" id="cinema" ngbAutofocus>
        <option [ngValue]="null">Tous les cinemas</option>
        <option *ngFor="let cinema of cinemas" [ngValue]="cinema">
          {{ cinema.nomCinema }}
        </option>
      </select>
    </div>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" *ngIf="!filmService.film">Load</button>
    <button class="btn btn-success" type="submit" *ngIf="filmService.film" [disabled]="cinemaSelectForm.invalid">Load</button>
  </div>
</form>